body {
  background-color: darkolivegreen;
}

body div {
  background: -webkit-gradient(linear, left bottom, left top, from(#22c1c3), to(#fdbb2d));
  background: linear-gradient(0deg, #22c1c3 0%, #fdbb2d 100%);
}
