*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
}


.content{
    background: linear-gradient(to right,
    #eeeeee 25%,
    #cccccc 25%,
    #cccccc 50%,
    #eeeeee 50%,
    #eeeeee 75%,
    #cccccc 75%,
    #cccccc 100%);   
}

.content .in-cont{
    float: left;
    width: 25%;
    padding: 40px 30px;
}



 .content:after {
    display: block;
    content: "";
    clear: both;
} 


.back-bottom{
    height: 50px;
    margin-bottom: 10px;
    padding-left: 70px;
    
    background: url(img/12104.png) no-repeat;
    background-size: 50px 50px;

    display: inline-flex;
    align-items: center; 
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    letter-spacing: 0.1ex;
    font-weight: 900;
}

.back-bottom:hover{
    background-image: url(img/12104\(h\).png);
    color: #4b3a3b;
}