*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 60px;
    background-color: rgba(231, 225, 169, 0.774);
}

.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

.header__nav{
    height: 100%;
    width: 40%;
    text-wrap: none;
}

.header__nav-list{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header__nav-item{
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
    flex-shrink: 0;
}

.header__nav-item a{
    display: inline-block;
    cursor: pointer;
    padding: 10px;

    border-radius: 10px;
    background-color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 100%;
    color: rgb(31, 30, 22);
}

.content-wrapper{
    flex: 1 1;
}

.content__flex-wrapper{

    height: 100%;
    display: flex;
    align-items: stretch;
}

.practise-bar{
    flex: 0 0 50%;
    background-color: rgba(63, 209, 209, 0.308);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.practise-bar__video, .practise-bar__audio{
    padding: 10px;
    
}
.practise-bar__video{
    background-color: thistle;
    flex-basis: 50%;
}

.practise-bar__audio{
    background-color: wheat;
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.practise-bar__canvas{
    flex-basis: 50%;
    margin-top: 10px;
}

.practise-bar__audio audio{
   width: 100%;
   border-radius: 50%;
   border: 4px solid rgba(250, 128, 114, 0.664);
}

.practise-bar__video video{
    background-image: url("img/video-poster.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.practise-bar__audio audio:focus, .practise-bar__video video:focus{
    outline: none;
}

.practise-bar__canvas canvas{
    background-color: rgba(44, 206, 111, 0.678);
    height: auto;
    width: 100%;
}

.mult-col-content{
    padding: 20px;
    flex: 1 1 50%;
 
}

.article__title{
    text-align: center;
    margin-bottom: 20px;
}

.article__text {
    column-width: 50%;
    column-count: 2;
    column-gap: 20px;
    column-rule: 4px dotted rgb(31, 30, 22);
    text-indent: 1em;
  }

  .dialogue{
    column-span: all;
    padding: 10px;
    background-color: rgba(231, 225, 169, 0.774);
    margin: 10px;
  }

.footer{
    background-color: rgba(231, 225, 169, 0.774);
    padding: 10px 0;
}

.footer__content{
 display: flex;
 justify-content: center;
}

.footer__copysvg{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}