*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
 height: 70px;
 width: 100%;
 background-color: #6495ed;
 margin-top: 10px;

}

.container{
    margin: 0 40px;
    height: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 100%;
}


.menu{
    margin: auto 0;
    font-size: 20px;
}

.menu li{
    list-style-type: none;
    margin: auto 0;
}
.menu a{
    color: white;
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #ff6347;
    border-radius: 10px;
}



.menu-left{
    width: 200px;
    display: flex;
    justify-content: space-between;
}


.events-title, .jobs-title{
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 1.5rem;
}

.event{
    display: flex;
    background-color: #f5f5dc;
}

.event > div{
 padding: 10px;
}

.event + .event{
    margin-top: 20px;
}

.event-date, .event-price{
   flex-basis: 200px;
   flex-shrink: 0;
    background-color: #fffaf0;
    border: 1px solid #faebd7;
}

.event-descriprion{
    flex-basis: 100%;
}


.jobs-item{
    display: flex;
    color: white;
    margin-bottom: 15px;
    margin-left: 15px;
}

.jobs-name{
    flex-basis: 200px;
   flex-shrink: 0;
    background-color: #a52a2a;
    margin-right: 15px;
}

.jobs-description{
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #d2691e;
}

.jobs-apply{
    align-self: flex-end;
}

.jobs-apply button{
    background-color: #a52a2a;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #8b0000;
}

.jobs-apply button:hover{
    cursor: pointer;
}

.jobs-apply button:focus{
    outline-style: none;
}

.jobs-name, .jobs-description{
    padding: 10px;
}

